---
// Component Imports
import Location from '../components/Location.vue';

// Component Script:
let title = 'PantherFi';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global lang="scss">
		@import "../styles/global.scss";
	</style>
	<style lang="scss">
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);

			img {
				height: 4em;
			}

			margin-bottom: 2rem;
		}

		main {
			width: 100%;
			max-width: 1000px;
		}
	</style>
</head>
<body>
	<header>
		<div>
			<img src="/assets/logo.svg" alt="PantherFi logo">
		</div>
	</header>
	<main>
		<Location name="Hillman Library - First Floor" client:load />
		<Location name="Hillman Library - Third Floor" client:load />
		<Location name="Hillman Library - Fourth Floor" client:load />
	</main>
</body>
</html>
