---
// Component Imports


// Component Script:
let title = 'PantherFi';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global lang="scss">
		@import "../styles/global.scss";
	</style>
	<style lang="scss">
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);

			img {
				height: 4em;
			}

			margin-bottom: 2rem;
		}

		main {
			width: 100%;
			max-width: 800px;
		}

		div.location {
			border-top: rgba(255,255,255,0.5) 1px solid;
			padding: .5rem 0;
			display: grid;
			grid-template-columns: auto repeat(3, 1fr);
			column-gap: .5rem;
			line-height: 1;

			h2 {
				padding-right: .5em;
			}

			& > div {
				display: flex;
				align-items: flex-end;
			}
			
			.location-info-type {
				margin-right: .5em;
			}

			.status {
				display: inline-block;
				font-size: 0.8rem;
				padding: 0.2rem 0.3rem;
				border-radius: 0.2rem;
				margin-bottom: -0.2rem;
				background: rgba(255,255,255,0.1);

				&.up {
					background: #2fcc66;
					color: black;
				}

				&.down {
					background: #336699;
				}
			}
		}
	</style>
</head>
<body>
	<header>
		<div>
			<img src="/assets/logo.svg" alt="PantherFi logo">
		</div>
	</header>
	<main>
		<div class="location">
			<h2>Hillman Library - First Floor</h2>
			<div>
				<span class="location-info-type">Status:</span>
				<span class="status up">Up</span>
			</div>
			<div>
				<span class="location-info-type">Speed:</span>
				<span>40↓ 20↑</span>
			</div>
			<div>
				<span class="location-info-type">Ping:</span>
				<span>5ms</span>
			</div>
		</div>
	</main>
</body>
</html>
